/* ---------------- Global ---------------- */
body {
  background-color: #ffd3d7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
}

#description::after {
  content: "";
  background-color: #ffc20c;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  height: 4px;
  border-radius: 2px;
  display: block;
}

footer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  color: #333;
}

footer p {
  margin: 10px;
}

/*---------------- Navbar ----------------*/
#nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #7c9eb7;
  border-bottom: 2px solid #333;
  z-index: 1;
}

#menu-icon {
  margin: 10px;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #333;
}

#nav-bar a {
 margin: 10px;
}

#home-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.profile-icon {
  margin-left: auto;
  margin-right: 20px;
}

.profile-icon a {
  width: 100px;
  height: auto;
  background-color: #c5d6db;
}

.profile-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#nav-menu {
  position: fixed;
  top: 50px;
  left: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7c9eb7;
  width: 100px;
  height: 100vh;
  transition: all 0.5s;
}

#nav-menu a {
  display: flex;
  background-color: #c5d6db;
  position: relative;
  left: -200px;
  width: 100px;
  height: 30px;
  transition: all 0.5s;
}

/* ---------------- Container ---------------- */
.default-container {
  background-color: #c5d6db;
  box-shadow: 10px 8px 0px #7c9eb7;
  width: 20%;
  min-width: 300px;
  padding: 30px 20px;
  margin: 60px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wide-container {
  min-width: 325px;
  width: 65%;
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-header h1 {
  margin: 10px 15px;
}

.container-header h2 {
  margin: 10px 15px;
}

.container-header p {
  width: 50%;
  min-width: 300px;
}

.container-header #login-home {
  width: 30px;
}

.container-header h1::after {
  content: "";
  background-color: #ffc20c;
  width: 75%;
  margin: 0 auto;
  height: 4px;
  border-radius: 2px;
  display: block;
}

/* ---------------- Button ---------------- */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc20c;
  border: none;
  color: #000;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  width: 200px;
  overflow: hidden;
  padding: 10px 14px;
  margin: 13px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
}

.button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}

/* ---------------- Home Page ---------------- */

.home-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.home-block p {
  margin: 0px 20px;
}

.app {
  width: 75%;
  max-width: 300px;
  margin: 5px;
}

/* ---------------- Form ---------------- */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label {
  display: block;
  white-space: nowrap;
}

/* ---------------- Textbox ---------------- */
.textbox {
  border-radius: 5px;
  background: #fff3e0;
  border: none;
  outline: none;
  font-size: 16px;
  height: 40px;
  width: 200px;
  padding: 8px;
  margin: 10px;
  transition: all 0.14s ease-out;
}

.textbox:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}

/* ---------------- Delete Button ---------------- */
.delete-button {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  opacity: 0.3;
  transition: all 0.14s ease-out;
  cursor: pointer;
}

.delete-button:hover {
  opacity: 1;
}

.delete-button:before,
.delete-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.delete-button:before {
  transform: rotate(45deg);
}

.delete-button:after {
  transform: rotate(-45deg);
}

/* ---------------- Error ---------------- */
.error {
  color: red;
  font-size: 12px;
}

/* ---------------- Table ---------------- */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #7c9eb7;
  text-align: center;
}